html,
body {
  padding: 0;
  background: #f3f0f1;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

* {
  box-sizing: border-box;
}

a {
  color: slateblue;
  text-decoration: none;
}

a:hover {
  text-decoration: blueviolet;
}

img {
  max-width: 100%;
  display: block;
}